// Import Colors
@import '/home/zzzeyez/.cache/wal/colors.scss';

body {
  background-color: $color0;
  text-align: center;
}

h3 {
  color: $color0;
  font-family: 'Fira Code', Fira Code;
  font-weight: normal;
  line-height: 30px;
}

h1 {
  font-family: 'Fira Code', Fira Code;
  text-align: center;
  color: $color7;
  font-size: 90;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 10px;
}

list {
  text-align: left;
  text-decoration: none;
}

.all {
  display: inline-block;
  vertical-align: top;
  align-self: center;
  margin-left: 0px;
  margin-top: 0px;
}

.all:nth-child(1) {
  margin-left: 0;
}

.title {
  text-align: left;
  width: 25%;
  padding-left: 1em;
  padding-top: 0em;
}

.google {
  background-color: $color1;
}

.reddit {
  background-color: $color2;
}

.programming {
  background-color: $color3;
}

.gaming {
  background-color: $color4;
}

.linux {
  background-color: $color5;
}

.links {
  text-align: left;
  color: $color7;
  font-family: 'Fira Code', Fira Code;
  text-decoration: none;
  font-weight: normal;
  background-color: $color0;
  width: 12em;
  margin-top: -1em;
  padding-left: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
}
