// Import Colors
@import '/Users/zzzeyez/.cache/wal/colors.scss';

:root{
	--bgcolor: linear-gradient(-20deg, #141414, #2f2f2f);
	--fgcolor: #{$color0};
	--formfg: #{$color7};
	--opacityselected: 1;
	--opacity: 0;
	--font: scientifica, SF Mono, Lucida Grande;
	--fontsize: 11px;
	--height: 21px;
	--positionvertical: calc(50% + calc(var(--height) * -0.5));
	--width: 20%;
	--textalign: left;
	--textalignvertical: center;
	--bordersize: 0px;
	--bordertop: 3px;
	--transition: 0.4s;
	--border-radius: 3px;
}

html {
  min-height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--bgcolor);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h3 {
  color: #{$color6};
  font-family: SF Mono;
  line-height: 10px;
  font-weight: Normal;
  font-size: 16.3;
  padding: 0px;
  margin: 0px;
}

.search {
	z-index: 3;
  	position: absolute;
	width: var(--width);
	left: 50%;
	height: calc( 100% - var(--bordertop) );
	top: 50%;
	transform: translate(-50%,-50%);
}

input {
	width: 100%;
	border: none;
	color: var(--fgcolor);
	height: var(--height);
	background-color: var(--bgcolor);
	font-family: var(--font);
	font-size: var(--fontsize);
	line-height: 100%;
	text-align: var(--textalign);
	vertical-align: var(--textalignvertical);
	outline: none;
	position: absolute;
	display: inline;
	padding-left: 1ch;
	transition: var(--transition);
	text-shadow: 0 0 0 var(--bgcolor);
	border-radius: var(--border-radius);
}

.form1 {
	top: var(--positionvertical);
	border-left: var(--bordersize) solid $color7;
	background-color: var(--formfg);
	opacity: var(--opacity);
	&:focus,&:hover {
	opacity: var(--opacityselected);
	}

}

.form2 {
	top: var(--positionvertical);
	border-left: var(--bordersize) solid $color6;
	background-color: #{$color6};
	opacity: var(--opacity);
	&:focus,&:hover { 
	opacity: var(--opacityselected);
  	}

}

.form3 {
	top: var(--positionvertical);
	border-left: var(--bordersize) solid #{$color5};
	background-color: #{$color5};
	opacity: var(--opacity);
	&:focus,&:hover { 
	opacity: var(--opacityselected);
  	}
}

.form4 {
	top: var(--positionvertical);
	border-left: var(--bordersize) solid #{$color4};
	background-color: #{$color4};
	opacity: var(--opacity);
	&:focus,&:hover { 
	opacity: var(--opacityselected);
	}
}

.form5 {
	top: var(--positionvertical);
	border-left: var(--bordersize) solid #{$color3};
	background-color: #{$color3};
	opacity: var(--opacity);
	&:focus,&:hover { 
	opacity: var(--opacityselected);
  	}
}

.form6 {
	top: var(--positionvertical);
	border-left: var(--bordersize) solid #{$color2};
	background-color: #{$color2};
	opacity: var(--opacity);
	&:focus,&:hover { 
	opacity: var(--opacityselected);
  	}
}

.form7 {
	top: var(--positionvertical);
	border-left: var(--bordersize) solid #{$color1};
	background-color: #{$color1};
	opacity: var(--opacity);
	&:focus,&:hover { 
	opacity: var(--opacityselected);
	}

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--fgcolor);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--fgcolor);
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--fgcolor);
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--fgcolor);
}

list {
  text-align: left;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.all {
  display: inline-block;
  vertical-align: top;
  align-self: left;
  padding: 0px;
  margin: 0px;
  width: 16.06%
}

.all:nth-child(1) {
  margin: 0px;
  padding: 0px;
}

.title {
  text-align: left;
  width: 100%;
  padding-left: 1em;
  padding-top: 0em;
  margin: 0 0 0 0;
  padding-right: 1em;
  height: var(--bordertop);
}

.left {
  background-color: #{$color1};
}

.general {
  background-color: #{$color2};
}

.reddit {
  background-color: #{$color3};
}

.social {
  background-color: #{$color4};
}

.arts {
  background-color: #{$color5};
}

.right {
  background-color: #{$color6};
}

.links {
  text-align: center;
  color: var(--fgcolor);
  font-family: var(--font);
  font-size: var(--fontsize);
  text-decoration: none;
  background-color: var(--bgcolor);
  margin-top: 0px;
  padding-left: 0em;
  padding-top: 420px;
  padding-bottom: 0px;
  padding-right: 1em;
  margin-right: 0px;

}
