:root {
  --bgcolor: linear-gradient(-20deg, #141414, #2f2f2f);
  --fgcolor: #141414;
  --formfg: #e4c9c2;
  --opacityselected: 1;
  --opacity: 0;
  --font: scientifica, SF Mono, Lucida Grande;
  --fontsize: 11px;
  --height: 21px;
  --positionvertical: calc(50% + calc(var(--height) * -0.5));
  --width: 20%;
  --textalign: left;
  --textalignvertical: center;
  --bordersize: 0px;
  --bordertop: 3px;
  --transition: 0.4s;
  --border-radius: 3px;
}

html {
  min-height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--bgcolor);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h3 {
  color: #728797;
  font-family: SF Mono;
  line-height: 10px;
  font-weight: Normal;
  font-size: 16.3;
  padding: 0px;
  margin: 0px;
}

.search {
  z-index: 3;
  position: absolute;
  width: var(--width);
  left: 50%;
  height: calc( 100% - var(--bordertop));
  top: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 100%;
  border: none;
  color: var(--fgcolor);
  height: var(--height);
  background-color: var(--bgcolor);
  font-family: var(--font);
  font-size: var(--fontsize);
  line-height: 100%;
  text-align: var(--textalign);
  vertical-align: var(--textalignvertical);
  outline: none;
  position: absolute;
  display: inline;
  padding-left: 1ch;
  transition: var(--transition);
  text-shadow: 0 0 0 var(--bgcolor);
  border-radius: var(--border-radius);
}

.form1 {
  top: var(--positionvertical);
  border-left: var(--bordersize) solid #e4c9c2;
  background-color: var(--formfg);
  opacity: var(--opacity);
}

.form1:focus, .form1:hover {
  opacity: var(--opacityselected);
}

.form2 {
  top: var(--positionvertical);
  border-left: var(--bordersize) solid #728797;
  background-color: #728797;
  opacity: var(--opacity);
}

.form2:focus, .form2:hover {
  opacity: var(--opacityselected);
}

.form3 {
  top: var(--positionvertical);
  border-left: var(--bordersize) solid #DD7484;
  background-color: #DD7484;
  opacity: var(--opacity);
}

.form3:focus, .form3:hover {
  opacity: var(--opacityselected);
}

.form4 {
  top: var(--positionvertical);
  border-left: var(--bordersize) solid #967387;
  background-color: #967387;
  opacity: var(--opacity);
}

.form4:focus, .form4:hover {
  opacity: var(--opacityselected);
}

.form5 {
  top: var(--positionvertical);
  border-left: var(--bordersize) solid #656687;
  background-color: #656687;
  opacity: var(--opacity);
}

.form5:focus, .form5:hover {
  opacity: var(--opacityselected);
}

.form6 {
  top: var(--positionvertical);
  border-left: var(--bordersize) solid #F7936B;
  background-color: #F7936B;
  opacity: var(--opacity);
}

.form6:focus, .form6:hover {
  opacity: var(--opacityselected);
}

.form7 {
  top: var(--positionvertical);
  border-left: var(--bordersize) solid #DA5A69;
  background-color: #DA5A69;
  opacity: var(--opacity);
}

.form7:focus, .form7:hover {
  opacity: var(--opacityselected);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--fgcolor);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--fgcolor);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--fgcolor);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--fgcolor);
}

list {
  text-align: left;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.all {
  display: inline-block;
  vertical-align: top;
  align-self: left;
  padding: 0px;
  margin: 0px;
  width: 16.06%;
}

.all:nth-child(1) {
  margin: 0px;
  padding: 0px;
}

.title {
  text-align: left;
  width: 100%;
  padding-left: 1em;
  padding-top: 0em;
  margin: 0 0 0 0;
  padding-right: 1em;
  height: var(--bordertop);
}

.left {
  background-color: #DA5A69;
}

.general {
  background-color: #F7936B;
}

.reddit {
  background-color: #656687;
}

.social {
  background-color: #967387;
}

.arts {
  background-color: #DD7484;
}

.right {
  background-color: #728797;
}

.links {
  text-align: center;
  color: var(--fgcolor);
  font-family: var(--font);
  font-size: var(--fontsize);
  text-decoration: none;
  background-color: var(--bgcolor);
  margin-top: 0px;
  padding-left: 0em;
  padding-top: 420px;
  padding-bottom: 0px;
  padding-right: 1em;
  margin-right: 0px;
}
